<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Data Predictions</h1>
    <table border="1">
        <thead>
            <tr>
                <th>BALANCE</th>
                <th>BALANCE_FREQUENCY</th>
                
                <th>PURCHASES/th>
                <th>ONEOFF PURCHASES</th>
                <th>INSTALLMENTS PURCHASES</th>
               
                <th>CASH_ADVANCE</th>
                <th>PURCHASES_FREQUENCY</th>
                <th>ONEOFF_PURCHASES_FREQUENCY</th>
                
                <!-- <th>PURCHASES_INSTALLMENTS_FREQUENCY</th> -->
                <th>PURCHASES_INSTALLMENTS_FREQUENCY</th>
                <th>CASH_ADVANCE_FREQUENCY</th>
                
                <!-- <th>CASH_ADVANCE_TRX</th> -->
                <th>Predicted Value</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.BALANCE }}</td>
                <td>{{ row.BALANCE_FREQUENCY }}</td>
                <td>{{ row.PURCHASES }}</td>
                <td>{{ row.ONEOFF_PURCHASES }}</td>
                <td>{{ row.INSTALLMENTS_PURCHASES }}</td>
                <td>{{ row.CASH_ADVANCE }}</td>
                <td>{{ row.PURCHASES_FREQUENCY }}</td>
                <td>{{ row.ONEOFF_PURCHASES_FREQUENCY }}</td>
                <!-- <td>{{ row.PURCHASES_INSTALLMENTS_FREQUENCY }}</td> -->
                <td>{{ row.PURCHASES_INSTALLMENTS_FREQUENCY }}</td>
                <td>{{ row.CASH_ADVANCE_FREQUENCY }}</td>
                <!-- <td>{{ row.CASH_ADVANCE_TRX }}</td> -->
                <!-- Add more table cells for each feature -->
                <td>{{ row.prediction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
['BALANCE', 'BALANCE_FREQUENCY', 'PURCHASES', 'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'CASH_ADVANCE', 'PURCHASES_FREQUENCY', 'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY', 'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'PURCHASES_TRX', 'CREDIT_LIMIT', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT', 'TENURE']